.formControl {
}

.formControl.error input,
.formControl.error textarea {
    border: 3px solid red;
}

.formControl span {
    color: red;
}

.formSummaryError {
    border: 3px solid rosybrown;
    padding: 5px;
    color: #800303;
}